{% extends 'base.html.twig' %}

{% block title %}Liste des Images - {% endblock %}

{% block content %}

<h2>Liste des images : </h2>

{% if images is defined %}
    {% if images is empty %}
        <p class="error">Aucune image n'a été trouvé</p>
    {% else %}
        <ul>
            {% for image in images %}
                <li class="card-title">{{ image.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% endblock %}
