{% extends 'base.html.twig' %}

{% block title %}Liste des Commentaires - {% endblock %}

{% block content %}
<h2>Liste des commentaires : </h2>
{% if commentaires is defined %}
    {% if commentaires is empty %}
        <p class="error">Aucun commentaire n'a été trouvé</p>
    {% else %}
        <ul>
            {% for commentaire in commentaires %}
                <li class="card-title">{{ commentaire.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% endblock %}
