{% extends "base.html.twig" %}
{% block title %}Accueil - {% endblock %}
{% block content %}
<h1>Bienvenue sur CRUDcroustillant !</h1>
<img src="{{asset('images/251-2222x257.jpg')}}" style="width:90svw; margin:auto; display:flex" alt="image provenant de picsum.photos" />
{% endblock %}

