{% extends 'base.html.twig' %}

{% block title %}Liste des Burgers - {% endblock %}
{% block content %}

<h2>Liste des sauces : </h2>

{% if sauces is defined %}
    {% if sauces is empty %}
        <p class="error">Aucun sauce n'a été trouvé</p>
    {% else %}
        <ul>
            {% for sauce in sauces %}
                <li class="card-title">{{ sauce.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% endblock %}