{% extends 'base.html.twig' %}

{% block title %}Liste des Burgers - {% endblock %}
{% block content %}

<h2>Liste des pains : </h2>

{% if pains is defined %}
    {% if pains is empty %}
        <p class="error">Aucun pain n'a été trouvé</p>
    {% else %}
        <ul>
            {% for pain in pains %}
                <li class="card-title">{{ pain.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% endblock %}